@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --yellow_color : #FACA10;
    --text_black_color : #1E1E1E;
    --bg_gray_one : #d4d4d4;
    --bg_gray_two : #fbfbfb;
    --bg_white_one : #fbfbfb;
    --bg_white : #fff;
    --nunito : "Nunito", serif;
    --lora : "Lora", serif;
}

.container{
    max-width: 1177px;
    margin: auto;
}
@layer base {
    *{
        @apply m-0 p-0 outline-none box-border
    }
    ul,li{
        @apply list-none
    }
    img{
        @apply align-middle
    }
    a{
        @apply inline-block no-underline;
    }
}
@layer components {
    .menuItem{
        position: relative;
    }
    .menuItem::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        border-radius: 10px;
        background-color: var(--yellow_color);
        transition: all ease-in .2s;
    }
    .menuItem:hover::after{
        width: 100%;
    }
    .topTitle{
        position: relative;
    }
    .topTitle::after {
        position: absolute;
        content: "";
        right: 470px;
        bottom: 5px;
        width: 13%;
        height: 5px;
        border-radius: 10px;
        background-color: var(--yellow_color);
    }
}