@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --yellow_color : #FACA10;
    --text_black_color : #1E1E1E;
    --bg_gray_one : #d4d4d4;
    --bg_gray_two : #fbfbfb;
    --bg_gray_three : #F2F2F2;
    --bg_white_one : #fbfbfb;
    --bg_white : #fff;
    --nunito : "Nunito", serif;
    --lora : "Lora", serif;
}

.container{
    max-width: 1177px;
    margin: auto;
}
@layer base {
    *{
        @apply m-0 p-0 outline-none box-border
    }
    ul,li{
        @apply list-none
    }
    img{
        @apply align-middle
    }
    a{
        @apply inline-block no-underline;
    }
}
@layer components {
    .menuItem{
        position: relative;
    }
    .menuItem::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        border-radius: 10px;
        background-color: var(--yellow_color);
        transition: all ease-in .2s;
    }
    .menuItem:hover::after{
        width: 100%;
    }
    .heading{
        position: relative;
    }
    .heading::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        border-radius: 10px;
        background-color: var(--yellow_color);
    }
    .button2{
        position: relative;
        transition: all linear .2s;
    }
    .button2:hover{
        background-color: var(--yellow_color);
        color: white;
    }
    .button2::before{
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        background-color: var(--yellow_color);
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        transition: all ease-out .2s;
    }
    .button2::after{
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: var(--yellow_color);
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        transition: all ease-out .2s;
    }
    .button2:hover::before{
        left: -35px;
        width: 40px;
        height: 3px;
    }
    .button2:hover::after{
        left: -40px;
        width: 20px;
        height: 20px;

    }

    .contactForm{
        left: 50%;
        bottom: -250px;
        transform: translateX(-50%);
    }
    
    .sliderItem{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

}